<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/nav.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sidebar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/container.css') }}">
    <title>KI Breaking news</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='icon.png') }}">
</head>
<body>
    <nav>
        <div id="logo"><img src="{{ url_for('static',filename='logo.png') }}" alt=""></div>
        <div id="search">
            <form action="/s" method="get">
                <input type="text" name="search" id="search" placeholder="Search">
                <button type="submit">Search</button>
            </form>
        </div>
    </nav>
    <section id="sidebar">
        <ul>
            <a href="/"><li>Everything</li></a>
            <a href="/today"><li>Today</li></a>
            <a href="/authors"><li class="{{authors}}">Authors</li></a>
        </ul>
    </section>
    <section id="container">
            {% for item in data.articles %}
                <li><a href="/author?author={{item.author}}">{{item.author}}</a></li>
            {% endfor %}
    </section>
</body>
</html>
